---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={"404 - Not Found"} />
	</head>
	<body>
		<Header />
		<main>
			<h1>This page does not exist, but you do!</h1>
		</main>
		<Footer />
	</body>
</html>
