---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Alec Gillis"
	pubDate={new Date('August 08 2021')}
	heroImage="/blog-placeholder-5.jpg"
>
<h1>About Me</h1>
<p>I'm Alec Gillis, a programmer.</p>
<p>
  I was born and raised in
  <a href="https://www.michigan.org">the Mitten</a>. I graduated from
  <a href="https://msu.edu/">Michigan State University</a>
  with a degree in computer science and a minor in mathematics. Besides
  programming I enjoy running, reading, listening to music, and learning
  interesting things.
</p>


<p>
	This is a <a href="https://nownownow.com/about">now</a> page.
  </p>
  <p>
	I am currently living in Washington, D.C. I have recently been exploring the city, programming
	side projects, training for a Half Iron Man, and reading alot of books.
  </p>
  <p>
	This 'Now' Page was last updated on May 20, 2024, in Washington, D.C.
  </p>
</Layout>
