---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Alec Gillis"
	description="Nothing yet"
	pubDate={new Date('August 08 2021')}
	heroImage="/blog-placeholder-5.jpg"
>
<h1>About Me</h1>
<p>I'm Alec Gillis, a programmer.</p>
<p>
  I was born and raised in
  <a href="https://www.michigan.org">the Mitten</a> and I'm currently
  living in Chattanooga, TN. I graduated from
  <a href="https://msu.edu/">Michigan State University</a>
  with a degree in computer science and a minor in mathematics. Besides
  programming I enjoy running, reading, listening to music, and learning
  interesting things.
</p>


<p>
	This is a <a href="https://nownownow.com/about">now</a> page.
  </p>
  <p>
	I am currently going into my final semester as a Computer Science
	student at Michigan State University. I've recently been programming
	side projects, scuba diving, and spending time with friends and family.
	I am living in Brighton with my family until the Fall semester starts.
  </p>
  <p>
	This 'Now' Page was last updated on August 12, 2020, in Brighton, MI.
  </p>
</Layout>
