---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} />
	</head>
	<body>
		<Header />
		<main>
			<h3>Hello, I'm Alec.
			</h3>
			<h5>
				I am currently working at 
				<a href="https://www.quorum.us/">Quorum</a> as a
				Fullstack Engineer.
			  </h5>

			<br>
			<h5>Contact Me</h5>
			<ul>
			  <li>Email: alec.d.gillis@gmail.com</li>
			</ul>
		</main>
		<Footer />
	</body>
</html>
